<!doctype html>
<html lang="en">
  <head>
    <title>Kizombavilág</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/kizomba.css">
    </head>
    <body>
        <div class="flex-container">
            <div class="site-header">
                <header>
                    <h1 class="site-title"><a href="/">Kizombavilág</a></h1>
                    <ul class="navbar">
                        <li><a href="/a_kizomba_eredete">A Kizomba tánc és zene eredete</a></li>
                        <li><a href="/archive">Cikkarchívum</a></li>
                    </ul>
                </header>
            </div>

            <div class="wrapper">
                <div class="post-content">
                    <article>
                        <h1 class="post-title">A Kizomba tánc és zene eredete</h1>

                        <p class="post-date">2017-12-08, szerző: <span class="author">Tvisztandris</span></p>
                        
                        <h2>A kizomba tánc kialakulása</h2>
                                    
                        <p>A kizomba tánc a közép-afrikai <strong>Angolá</strong>ból származik (egészen pontosan a fővárosból, Luandából). Őse a hagyományos néptánc, a <strong>szemba</strong>. A kizomba tehát NEM latin tánc, ahogy több helyen olvasható tévesen.</p>
                        <p>Az 1980-as években a szembát a karibi térségből származó <strong>zouk</strong> zenére kezdték el táncolni. Ebben nagy szerepe volt a guadeloupe-i <strong>Kassav’ zenekar</strong>nak, ami megismertette az angolaiakkal a zouk zenét (<a href="https://www.youtube.com/watch?v=oRQJyQrpVQs">Kassav' - Mwen Malad Aw</a>). Utána afrikai zenészek is rákaptak az új stílusra (<a href="https://www.youtube.com/watch?v=YYNSFfy2K7Q">Eduardo Paim - Esse Madie</a>). Többnyire portugálul (hiszen Angola portugál gyarmat volt 1975-ig) vagy valamelyik afrikai nyelven énekelnek bennük.</p>
                        <p>A szemba és a zouk tökéletesen illik egymáshoz, és a kettő párosításával jött létre a <strong>kizomba</strong>. Ez nem egy új tánc új szabályokkal, hanem csupán szemba zouk zenére táncolva. Nagyon hasonló a szembához, de mégis másképpen táncolják. Talán egy összehasonlítás jobban érzékelteti, hogy mire gondolok. Az alábbi videó a szemba táncot mutatja be autentikusan, angolai módon:</p>
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/HWBqNK9SXEw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        <figcaption>1. videó: Autentikus szemba tánc vidéken</figcaption>
                               
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fqFqCMI5HLE" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        <figcaption>2. videó: Modern kizomba (szemba) tánc Luandában</figcaption>            
                        
                        <p>Később <strong>Európá</strong>ba is eljutott ez a tánc, de már kizomba néven. Az európaiak sokféle zenére kezdték el táncolni a kizombát. Mivel a zene eltérő volt, éppen ezért a kizombát is másképp kezdték el táncolni.</p>
                        <p>A kizomba szó a Kimbudu angolai nyelvből származik, jelentése buli, kikapcsolódás, ünnep. Egyébként a zouk jelentése franciául is ünnep. Számos különböző stílus létezik kizomba táncon belül, például:</p>
                                    
                        <ul>
                            <li><a href="https://www.youtube.com/watch?v=fqFqCMI5HLE">passada / hagyományos stílus</a></li>
                            <li><a href="https://www.youtube.com/watch?v=aHbjn_JQLa0">tarraxinha</a></li>
                            <li><a href="https://www.youtube.com/watch?v=sj8twW2iY40">quadradinha</a></li>
                            <li><a href="https://www.youtube.com/watch?v=49U4ryrP8ck">urban kiz / francia stílus</a></li>
                        </ul>

                        <h2>A kizomba zene kialakulása</h2>   

                        <p>A kizomba tánc előbb jött létre, mint a kizomba zene. A kizomba zenének négy tartóoszlopa van. Ezek:
                        </p> 

                        <ul>
                            <li><strong>szemba</strong> (zene és tánc is egyben, származás: Angola),</li>
                            <li><strong>coladeira</strong> (zene és tánc is egyben, származás: Cabo Verde),</li> 
                            <li><strong>zouk</strong> (csak zenei stílus, származás: Guadalupe és Martinique),</li>    
                            <li><strong>kompa</strong> (zene és tánc is egyben, származás: Haiti).</li>
                        </ul> 

                        <img class="m-img" src="assets/kizomba_ernyo-min.png" alt="A Kizomba ernyő" class="medium" />
                        <figcaption>1. ábra: A Kizomba Ernyő</figcaption>
                        <p>Ezek a zenei stílusok léteztek már a kizomba előtt. Ezeknek a keverékéből jött létre a <strong>kizomba zene</strong>. Attól függően, hogyan keveredtek, különböző ízlések, stílusok jöttek létre a kizomba zenén belül. Ezek a stílusok egymástól földrajzilag távol eső helyeken: a Francia-Antillákon (Guadalope, Martinique, Haiti), Közép-Afrikában (Angola, Mozambik) és a Zöld-foki Köztársaságban (Cabo Verde) alakultak ki. Például Cabo Verde-ben, mivel nem ismerték a szembát, a kompa és a colideira keveredett a zouk-kal, és így jött létre ott a kizomba zene. Angolában viszont a szemba zenét ötvözték a zouk zenével.</p>
                        <p>A kizomba „ernyő” foglalja össze a különböző zenei stílusokat, amelyek e keveredés során alakultak ki. Kékkel jelöltem a hagyományos stílusokat (a 4 alappillért) és pirossal a modern kizomba zenét. Néhány mintaszám:</p>     
                
                        <ol>
                            <li><a href="https://www.youtube.com/watch?v=ealTdaqt8bU">Nelson Freitas &amp; C4Pedro - Bo Tem Mel</a></li>
                            <li><a href="https://www.youtube.com/watch?v=RG-2liMTMwk">Yola Semedo - Lá No Fundo</a></li>
                            <li><a href="https://www.youtube.com/watch?v=Pu2Ei5QD8eU">Atim feat. DJ Barata - Minha Fofa</a></li>
                            <li><a href="https://www.youtube.com/watch?v=yE679TBydAM">Yola Semedo - Volta Amor</a></li>
                        </ol>
                                    
                        <h3>Felhasznált források</h3>

                        <ul class="literature">
                            <li><em>Dainis Graveris</em> (2015). <a href="http://www.onkizomba.com/what-is-kizomba/">What is Kizomba?: History About The Sensual Social Dance From Angola.</a> On Kizomba.</li>
                            <li><em>Hélio Santos</em> (2017). <a href="https://www.youtube.com/watch?v=CmMM-tzbjxc&amp;t=48s">Kizomba - Djs &amp; Organizers.</a></li>
                            <li><em>Hélio Santos</em> (2017). <a href="https://www.youtube.com/watch?v=03IR3migcXA&amp;t=336s">Umbrella of Kizomba - Music (Corpo da Kizomba).</a></li>
                            <li><em>José Garcia N’dongala</em> (2012). <a href="http://kizombalove.com/wp-content/uploads/2016/02/Kizombalove-Syllabus.pdf">José N’dongala Kizombalove Methodology. Teachers Course.</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Kizomba">Kizomba.</a> Wikipedia.</li>
                            <li><em>Laurent Yìshù</em> (2016). <a href="https://www.youtube.com/watch?v=D33kZZvTf5k&amp;t=4s">Kizomba doesn’t exist.</a></li>
                            <li><em>Lorraine O'Connor</em> (1993). <a href="http://www.caribbean-beat.com/issue-8/kassav-doctor-zouk">Kassav: Doctor Zouk.</a> Caribbean Beat 8.</li>
                            <li>Mais Kizomba. <a href="https://www.maiskizomba.com/en/kizomba">What is Kizomba?</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Urban_Kiz">Urban Kiz.</a> Wikipedia.</li>
                        </ul>
                    </article>
                    <% include partials/licence.ejs %>
                </div>
            </div>
        </div>
    </body>
</html>